@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 2em;
        font-weight: 300;
    }
    .mobile-Menu {
        display: block;
    }
    .nav-List {
        position: absolute;
        top: 8vh;
        right: -100%; /* Para ocultar o menu quando fechado */
        width: 50vh;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: right 0.5s ease-in;
        border-radius: 10px;
    }
    nav li {
        margin-left: 500px; /* Define a margem direita como 0 */
        opacity: 100;
        color: black;
    }
    .nav-List.open {
        right: 0; /* Para exibir o menu quando aberto */
        transition: right 0.5s ease-in;
    }
}
